---
layout: base
---

<main style="display:grid;grid-template-columns: 380px 1fr;gap:0 2rem;">
  {% assign topLevelSections = collections.orderedSections | where: "data.document_depth", 1 %}
  <aside>
    <ul>
      {% for item in topLevelSections %}
        <li>
          {% unless item.data.series_id == "000" or item.data.series_id == "800" or item.data.series_id == "900" %}{{ item.data.series_id }}{% endunless %} {{ item.data.series_title }}
        </li>
      {% endfor %}
    </ul>
  </aside>

  <div>
    <nav style="text-align:center;">
      {% assign prevPost = collections.orderedSections | getNextCollectionItem %}
      {% assign nextPost = collections.orderedSections | getPreviousCollectionItem %}
      {% if nextPost %}
        <a href="{{ nextPost.url }}" class="btn btn-pagination">« Prev</a>
      {% else %}
        <span class="btn btn-disabled">« Prev</span>
      {% endif %}
      <a href="/" class="btn btn-pagination">All</a>
      {% if prevPost %}
        <a href="{{ prevPost.url }}" class="btn btn-pagination">Next »</a>
      {% else %}
        <span class="btn btn-disabled">Next »</span>
      {% endif %}
    </nav>

    <section>
      <ul style="display:flex;gap:0 1rem;list-style:none;margin:0;padding:0">
        <li>{% if nextPost == null %}{{ site.edition }} {{ site.title }}{% else %}<a href="/">{{ site.edition }} {{ site.title }}</a>{% endif %}</li>
        {% if document_depth == 1 and nextPost %}<li>{{ series_title }}</li>{% elsif document_depth >= 2 %}<li><a href="/{{ series_id | slugify }}-{{ series_title | slugify }}/">{{ series_title }}</a></li>{% endif %}
        {% if activity_id == section_id %}<li>{{ section_title }}</li>{% elsif activity_id %}<li><a href="/{{ activity_id | slugify }}-{{ activity_title | slugify }}/">{{ activity_title }}</a></li>{% endif %}
      </ul>
      {% if series_id == "000" or series_id == "800" or series_id == "900" %}
        <h1>
          {{ section_title }}
        </h1>
      {% else %}
        <h1>
          {{ title }}{% if has_summary == true %}&mdash;Summary{% endif %}
        </h1>
      {% endif %}
      {{ content }}
      {% unless series_id == "000" or series_id == "800" or series_id == "900" %}
        {% if section_id == series_id %}
          <table class="toc">
            <caption>Contents of Series {{ series_id }}</caption>
            <thead>
              <tr>
                <th style="text-align:left;border-bottom:1px solid #000">Section</th>
                <th style="text-align:left;border-bottom:1px solid #000;text-align:right">Page</th>
              </tr>
            </thead>
            <tbody>
              {% assign sectionContents = collections.sections | where: "data.series_id", series_id %}
              {% for section in sectionContents %}
                <tr>
                  <td style="display:flex;padding:0.5rem;">
                    <span style="width:3.5em">{{ section.data.section_id }}</span>
                    <span>{{ section.data.section_title }}</span>
                  </td>
                  <td style="padding:0.5rem;text-align:right;width:1px;">
                    {{ section.data.page_in_manual }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      {% endunless %}
    </section>

    <nav style="text-align:center;">
      {% assign prevPost = collections.sections | getNextCollectionItem %}
      {% assign nextPost = collections.sections | getPreviousCollectionItem %}
      {% if nextPost %}
        <a href="{{ nextPost.url }}" class="btn btn-pagination">« Prev</a>
        {% else %}
        <span class="btn btn-disabled">« Prev</span>
      {% endif %}
      <a href="/" class="btn btn-pagination">All</a>
      {% if prevPost %}
        <a href="{{ prevPost.url }}" class="btn btn-pagination">Next »</a>
        {% else %}
        <span class="btn btn-disabled">Next »</span>
      {% endif %}
    </nav>
  </div>
</main>