---
layout: layouts/base.liquid
---

<div class="px-4">
  {% assign orderedSections = collections[manual_id] | sort: "data.section_id" %}
  {% render "partials/section-pagination.liquid", orderedSections: orderedSections, page: page %}
  <section class="section-content">
    <ul style="display:flex;gap:0 1rem;list-style:none;margin:0;padding:0">
      <li>{{ manual_title }}</li>
    </ul>
    <h1>
      {% unless ancillary %}{{ section_id }} {% endunless %}{{ section_title }}{% if is_summary == true %}&mdash;Summary{% endif %}
    </h1>
    {{ content }}
    {% unless ancillary == true %}
      {% if section_id == series_id %}
        <div class="table-responsive-md">
          <table class="table table-sm table-striped table-hover">
            <caption>Contents of Series {{ series_id }}</caption>
            <thead>
              <tr>
                <th>Section<br>Number</th>
                <th>Section<br>Name</th>
                <th>Page in<br>Manual</th>
              </tr>
            </thead>
            <tbody>
              {% assign sectionContents = collections[manual_id] | where: "data.series_id", series_id | sort: "data.section_id" %}
              {% for section in sectionContents %}
                <tr>
                  <td>
                    {{ section.data.section_id }}
                  </td>
                  <td class="w-100">
                    <a href="{{ section.url  }}">{{ section.data.section_title }}</a>
                  </td>
                  <td class="text-center text-monospace">
                    {{ section.data.page_in_manual }}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% endif %}
    {% endunless %}
  </section>
  {% render "partials/section-pagination.liquid", orderedSections: orderedSections, page: page %}
</div>