---
layout: layouts/section.liquid
---

{{ content }}

{% assign seriesAnchors = contents | where_exp: "item", "item.group == group" | sort_natural: number %}
{% assign seriesContents = seriesAnchors | where_exp: "item", "item.content_type == 'content'" | sort_natural: number %}
{% assign seriesFigures  = seriesAnchors  | where_exp: "item", "item.content_type == 'figure'" | sort_natural: number %}
{% assign seriesTables   = seriesAnchors   | where_exp: "item", "item.content_type == 'table'" | sort_natural: number %}

<dl>
  <dt>Contents of Series {{ group }}</dt>
  <dd>
    <ul class="list-unstyled">
      {% for section in seriesContents %}
        <li>
          <a href="{{ section.anchor }}">{{ section.title }}</a>
          {% assign childCount = section.children | size %}
          {% if childCount %}
            <ul class="list-unstyled ms-3">
              {% for child in section.children %}
                <li><a href="{{ child.anchor }}">{{ child.title }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </dd>

  {% if seriesFigures.size > 0 %}
    <dt>List of Figures</dt>
    <dd>
      <ul class="list-unstyled">
        {% for figure in seriesFigures %}
          <li><a href="{{ figure.anchor }}">{{ figure.title }}</a></li>
        {% endfor %}
      </ul>
    </dd>
  {% endif %}

  {% if seriesTables.size > 0 %}
    <dt>List of Tables</dt>
    <dd>
      <ul class="list-unstyled">
        {% for table in seriesTables %}
          <li><a href="{{ table.anchor }}">{{ table.title }}</a></li>
        {% endfor %}
      </ul>
    </dd>
  {% endif %}
</dl>
