---
permalink: /
---

<h1>{{ site.title }} ({{ site.edition }} Edition)</h1>

<ol>
{% for item in collections.sortedSections %}
  <li><a href="/{{ item.data.section_id | slugify }}-{{ item.data.section_title | slugify }}/index.html">{{ item.data.title }}</a></li>
{% endfor %}
</ol>
