---
permalink: /
---

<h1>{{ site.edition }} {{ site.title }}</h1>

<ol>
{% for item in collections.orderedSections %}
  <li><a href="/{{ item.data.section_id | slugify }}-{{ item.data.section_title | slugify }}/index.html">{{ item.data.title }}</a></li>
{% endfor %}
</ol>
