---
layout: base
permalink: /
eleventyExcludeFromCollection: true
---

<header class="manual-landing-header">
  <h1>{{ site.title }}</h1>
  <p>{{ site.preamble }}</p>
</header>

<div class="manual-landing-content">
  <p>* Requires authentication</p>
  <ul class="manual-cards">
    {% for manual in site.manuals %}
      <li class="manual-card">
        <dl>
          <dt>{{ manual.title }}</dt>
          <dd>
            <a href="{{ manual.first_page_url }}">Full Manual</a> | <a href="{{ manual.pdf_link }}">PDF Version</a>
          </dd>
          {% for addendum in manual.addenda %}
            <dd>
              <a href="{{ addendum.link }}">{{ addendum.title }}</a>
            </dd>
          {% endfor %}
        </dl>
      </li>
    {% endfor %}
  </ul>
</div>

{% comment %} <ol>
{% for item in collections.orderedSections %}
  <li>
    <a href="{{ item.page.url }}">
      {% unless item.data.ancillary %}{{ item.data.section_id }} {% endunless %}{{ item.data.section_title }}
    </a>
  </li>
{% endfor %}
</ol> {% endcomment %}
   